extends ./header.jade
block content
    section.about
      h1 About Us
      p Mathematics has been the most interesting and logic subject in the history of the world, and about 70% of students find if difficult to get it straight when it comes to mathematcis. MathLounge is the answer to Mathematics problems and headeaches you may be facing.
      button.large Get Started for Free
    footer
      p Made with Love by ARIB.
