extends ./header.jade
block content
    section.about
        h1 Contact Us
        p You reach trough aany of our social media platforms and through this website
        button.large Get in touch
    
    
    footer
      p Made with Love by ARIB.