extends ./header.jade
block content
  section
    h1 You're Welcome to MathLounge
    p The home your mathematics solution lies.
    button.large Get Started for Free
  footer
    p Made with Love by ARIB.
